body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}
ul, li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #fff;
}
.header {
    background-color: #164A61;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    padding: 20px;
}
.menu {
    display: flex;
}
.menu a:hover {
    background-color:#8DC4E6;
    cursor: pointer;
}
.menu li {
    margin-left: 10px;
}
.menu li a {
    display: block;
    padding: 10px;
    background-color: #04668C;
}
h1 {
    text-align: center;
    margin-top: 100px;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 20px auto;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.texto {
    margin-left: 150px;
}
